@page "/{branchName}"
@model IndexModel
@using WebApplication1
@{
    ViewData["Title"] = "Home page";
    var rm = new RepoModel();
    ViewData["Commit"] = rm.getCommit()[0];
    ViewData["Branch"] = rm.GetBranches()[0];
    var branchname = RouteData.Values["branchName"].ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">@RouteData.Values["branchName"]</h1>
    @rm.gitCheckoutOwn(branchname)
    @for (var i = 0; i < rm.getCommit().Count; i++)
    {
        <p>Commit: @(rm.getCommit()[i].Id)</p>
        <p>Message: @(rm.getMessages()[i])</p>
        <a href="@RouteData.Values["branchName"]/@rm.getCommit()[i].Id)">@(rm.getCommit()[i].Id)</a>
    }
    
</div>
//wyswietl liste plikow w comicie liste branchy w repo i commitow w branchu juz w html